/* This is an example of how to import a partial scss file*/
@import '_variables';

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: "Oswald", sans-serif;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: white;
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

body,
html {
	// background-image: linear-gradient(to top,
	// 		// #070024 20%,
	// 		// #32135a 64%,
	// 		// #0c0132 100%);
	background-repeat: no-repeat;
	height: 100vh;
}

/*~~~~~~~~~~~~~~~~End Reset~~~~~~~~~~~~~~~~~ */
/*~~~~~~~~~~~~~~~~Layout~~~~~~~~~~~~~~~~~ */


body {
	// background-image: url("../images/trees.jpg");
	// background-image: url("https://images.pexels.com/photos/1173777/pexels-photo-1173777.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	background-image: url("https://images.pexels.com/photos/2499699/pexels-photo-2499699.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	// background-image: url("https://images.pexels.com/photos/1761279/pexels-photo-1761279.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
// background-image: url("https://media2.giphy.com/media/2csuIJj6TmuKA/giphy.gif?cid=ecf05e47bzkcx02v6gbucty28bjmuokpq7vnr4bahy5kgphk&rid=giphy.gif&ct=g");
// background-image: url("https://media1.giphy.com/media/3oEdv0DUQOagqEI30k/giphy.gif?cid=ecf05e4716nynfmwqtwby4uievyfjtem62rjuhq44wr4vuxh&rid=giphy.gif&ct=g");
// https://media4.giphy.com/media/3oKIPcyPoS6w7XIn96/200w.webp?cid=ecf05e47fuiep94j647n8om3uft48bg09vykm5oqu7brp76g&rid=200w.webp&ct=g
// background-image: url("https://media3.giphy.com/media/1ncx1ypcalsEE/giphy.webp?cid=ecf05e4716nynfmwqtwby4uievyfjtem62rjuhq44wr4vuxh&rid=giphy.webp&ct=g");
background-size: cover;
}

.nav-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid blue;
	background: #4f646196;
}

.total-spent {
	display: flex;
	border: 2px solid white;
}

.nav-image {
	height: 12vh;
}

.welcome-traveler {
	font-size: 25px;
}

.card-wrapper {
	// border: 2px solid yellow;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-evenly;
	padding: 20px 0px 20px 0px;
}

.card {
	display: flex;
	width: 21vw;
	border: 2px solid #ffffff82;
	border-radius: 28px;
	flex-direction: column;
	align-items: center;
	background: #4f646196;
	box-shadow: 1px 1px 80px 1px #18251e;
	padding-top: 6px;
	padding-bottom: 6px;
}

.card-image {
	margin: 4%;
	height: 8vh;
}

.calendar-card {

}

.traveler-card {

}

.destinations-card {
	border: 2px solid pink;
}

.traveler-form {
	display: flex;
	align-items: center;
  flex-direction: column;
}

.submit-button-section {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.trips-wrapper {
	border: 2px solid green;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px 0px 20px 0px;
	height: 47vh;
}

.drop-down-wrapper {
	border: 2px solid green;

}

.hidden {
	display: none;
}
